@import "bootstrap";


/* HOMEPAGE EDITS BEGIN */

body {
  background-color: #fafafa;
  font-family: 'Josefin Sans', sans-serif;
}

.top-nav {
  background-color: white;
  border-bottom-color: #edeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 70px;
  padding-top: 15px;
  font-family: 'Poppins', sans-serif;
}

.top-nav .add {
  margin-top: 10px;
}

.top-nav .add a {
  font-weight: bold;
  color: #125688;
  font-size: 16px;
  padding-left: 8px;
}

.brand {
  color: #125688;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  margin: 0 9rem 0 0;
}

.brand:hover {
  cursor: pointer;

}

.card {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 0;
}

.card p, .card .message {
  font-size: 18px;
  margin: 20px;
}

.card.form {
  padding: 20px;
}

label {
  font-size: 18px;
}

input {
  font-size: 18px;
  font-weight: 400;
}

.handle {
  margin: 10px;
  color: #125688;
  font-weight: bold;
  font-size: 18px;
}

.my-btn {
  background-color: #125688;
  width: 100%;
  border: none;
  font-size: 24px;
  color: white;
  margin-top: 10px;
}

.input.boolean {
  margin-left: 18px;
  margin-top: 5px;
}

.input.boolean label {
  margin-top: 5px;
  line-height: 44px;
}

.gram-actions a {
  font-weight: bold;
  font-size: 16px;
  margin-right: 20px;
  margin-left: auto;
}

.comments {
  padding: 20px;
}

.comment {
  font-size: 16px;
  margin-top: 5px;
}

.comment_handle {
  color: #125688;
  font-weight: bold;
  font-size: 18px;
}


/* HOMEPAGE EDITS END */










/* SIGN-UP EDITS BEGIN */

.sign-up h2{
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.form-inputs {
  padding: 1.5rem auto;
  font-family: 'Poppins', sans-serif;

}

.form-actions {
  width: 60%;
  flex-direction: row;
  display: flex;
}

.btn {
  background-color: #0026ffd2;
  margin: 0 2rem 0 0;
  justify-items: start;
  color: white;
}

.btn:hover {
  cursor: pointer;
  background-color: aquamarine;
  color: black;
  transition: 650ms;
  
}

.login-link {
  padding-top: 0.8rem;
}

.login-link:hover {
  cursor: pointer;
}

.notice {
  margin-top:2rem;
}





/* SIGN-UP EDITS END */










/* LOG-IN EDITS END */

.log-in h2{
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.form-inputs {
  padding: 1.5rem auto;
  font-family: 'Poppins', sans-serif;

}

.form-actions {
  width: 60%;
  flex-direction: row;
  display: flex;
}

.btn {
  background-color: #0026ffd2;
  margin: 0 2rem 0 0;
  justify-items: start;
  color: white;
}

.btn:hover {
  cursor: pointer;
  background-color: aquamarine;
  color: black;
  transition: 650ms;
  
}

.login-link {
  padding-top: 0.8rem;
}

.login-link:hover {
  cursor: pointer;
}

.checkbox {
  margin: 0 0 0 2rem;
}

.checkbox:hover {
  cursor: pointer;
}

/* LOG-IN EDITS END */




/* NEW POST BEGINS */

.heading h1{
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.photo-uploader {
  padding-bottom: 1rem;
}

.photo-uploader input {
  cursor: pointer;
  background-color: #125688;
  color: white;
  width: 20%;
}

.photo-uploader input:hover {
  cursor: pointer;
  background-color: aquamarine;
  color: black;
  transition: 650ms;
  
}


/*NEW POST ENDS */










/* HOME PAGE */












/* HOME PAGE ENDS */











